{#
/**
 * @file
 * LBKRender Component Template.
 *
 * Available variables:
 * - title: The block title.
 * - display_title: Display the title (boolean).
 * - title_position: Display the title above or below the image.
 * - image: The image.
 * - image_alignment: The position of the image (CSS class).
 * - overlay_position: Possible values: none or bottom.
 * - overlay_text: Overlay text.
 * - classes: Classes to be added to component (array).
 */
#}

<div class="lbk-image-component {{ classes }}">
  {% if display_title %}
    <h2>{{ title }}</h2>
  {% endif %}
  {{ entity }}
</div>
